## Pandas basics

In [ ]:
import pandas as pd

### Series

In [ ]:
values = [1, 3, 9, 10]

series = pd.Series(values)

series
# Talk about the type, modify one value and show seriesastype(int)

In [ ]:
# Indices

series = pd.Series(values, index = ['a', 'b', 'c', 'd'])

series

In [ ]:
# Using a dict
stock_prices = { 
    'AAPL': 175.2, 'MSFT': 332.2, 'GOOG': 125.2, 'AMAZ': 120.4,
    'NVIDA': 389.0, 'META': 262.1, 'TSLA': 193.2
}

series = pd.Series(stock_prices)

series

### DataFrames

In [ ]:
# From a dictionary
shapes = {
    'width': [12.1, 15.2, 55, 19.1, 20.1],
    'length': [2, 12.1, 8.0, 9.6, 10],
    'height': [3, 4.2, 8.2, 3.2, 3.1]
}

df = pd.DataFrame(shapes)

df = pd.DataFrame(shapes, index=['shape1', 'shape2', 'shape3', 'shape4', 'shape5'])

df

In [ ]:
# Get a row/rows (with name and index)
df.iloc[0]

In [ ]:
# Get a column/columns
df['width']

In [ ]:
# Get a range of rows and columns
df.loc[['shape1', 'shape2'], ['width', 'height']]

### Wine quality dataset

In [ ]:
wine_quality_url = "./data/winequality-red.csv"

df = pd.read_csv(wine_quality_url)

In [ ]:
# Head
df.head()

In [ ]:
# Info
df.info()

In [ ]:
# isnull
df.isnull()

In [ ]:
# Aggregating methods such as sum, mean, median etc.
df.sum()

# df.isnull().any(axis = 0)

In [ ]:
# Boolean masking
# list of indices to a boolean masking [0,3,6] -> [True, False, False, True, False, False, True]

s = pd.Series([10.2, 12.1, 13., 14, 20, 12, 40.1])

s[[0,3,6]]
s[[True, False, False, True, False, False, True]]

In [ ]:
# Query with boolean masking
mask = df['residual sugar'] > 8

print(mask)

df[mask]

In [ ]:
# More Complex Query, find all pH values for wines with citric acid between 0.7 and 0.75
df[(df['citric acid'] > 0.7) & (df['citric acid'] < 0.75)]['pH']

### Exercise 2: Calculate the mean value of pH and density for all wines with quality equal and above 7

### Exercise 3 (Bonus): Print all rows with missing values

### Cleaning Data

In [ ]:
df.fillna({'citric acid': 0})

In [ ]:
df.drop(columns=['chlorides'], inplace=True)

In [ ]:
df.ffill()

### Modifiying

In [ ]:
# Creating a new column
df['total acidity'] = df['volatile acidity'] + df['citric acid']

In [ ]:
# Aggregate using one or more operations over the specified axis.
df.agg(['sum', 'min', 'max', 'mean', 'std'])

In [ ]:
# Group by: calculating the mean of each column with each quality group
df.groupby('quality').mean()

## Plotting

In [ ]:
df['pH'].plot.hist()

In [ ]:
import seaborn

seaborn.pairplot(df.iloc[:100, :4])